#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    %li.active{'data-target': "#slider", 'data-slide-to': "0"}
    %li{'data-target': "#slider", 'data-slide-to': "1"}
    %li{'data-target': "#slider", 'data-slide-to': "2"}
  .carousel-inner{role: "listbox"}
    - @books_presenter.new_books_slider.each_with_index do |book, index|
      .item{:class => "#{'active' if index == 0}"}
        .row
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img{src: @books_presenter.main_image_or_default(book), alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1= link_to book.title, book_path(book)
              %p.lead= book.description
              %p.lead.small
                - book.authors.each do |author|
                  = author.full_name
              .general-align
                = link_to t('home_page.buy_now'), line_items_path(line_item: {current_book: book.id}), method: :post, class: 'btn btn-primary'
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only= t('home_page.previous')
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only= t('home_page.next')
